   
.footer__link{
    display: flex;
    font-size: 16px;
    max-width: 700px;
    padding-right:18px;
    text-decoration: none;
    color: #FFFFFF;
    }
    
    @media screen and (max-width: 767px) {
        .footer__link {
            flex-direction: column;
            font-size: 24px;
            margin-bottom: 32px;
        }
    }

    .footer__link :last-child {
        margin-bottom: 0;
    }

    .footer__link:hover {
        opacity: 0.8;
    }