.footer__copyright{
    color: #FFFFFF;
    margin:0;
    font-size: 14px;
    line-height: 16px;
    }
    

    @media screen and (max-width: 767px) {
        .footer__copyright {
            padding-top: 16px;
            padding-bottom: 24px;
        }
    }