
@font-face { 
    font-family: "Inter";
    src: url(../vendor/fonts/Inter-Medium.woff2) format("woff2");
    src: url(../vendor/fonts/Inter-Medium.woff) format("woff");
    font-weight: normal;
    font-style: normal;  
}

@font-face { 
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../vendor/fonts/Inter-Bold.woff2?v=3.15") format("woff2"),
         url("../vendor/fonts/Inter-Bold.woff?v=3.15") format("woff");
}

.root {
    background-color: #2a2c2f;
    margin:0 auto;
    width:100%;
    max-width: 1280px;
    min-width: 320px;
}

@media screen and (max-width: 1279px) {
.root {
    max-width:1024px;
}
}

@media screen and (max-width: 1023px) {
    .root {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .root {
        width: 320px;
    }
}

.page {
    font-family: "Inter", "Arial", sans-serif;
    width:100%;
    max-width: 1280px;
}

@media screen and (max-width: 1279px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1023px) {
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width: 767px) {
    .page {
        width: 320px;
    }
}

.content {
    padding-top: 56px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    
}
 
@media screen and (max-width: 1279px) {
    .content {
        padding-top: 48px;   
    }
}

