
.cover{
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: normal;
    max-width: 1184px;
    width: 100%;
   position: relative;
   z-index: 1;
   margin: 92px auto;
  
}

@media screen and (max-width: 1279px) {
    .cover{
        max-width: 1024px;
       
}
}

@media screen and (max-width: 1023px) {
    .cover {
        max-width: 768px;
        margin: 88px auto;
}
}

@media screen and (max-width: 767px) {
    .cover {
        max-width: 320px;
        margin: 48px auto;
}
}

.cover::before {
    content: " ";
    position: absolute;
    max-width: 1184px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.3s;
    }

    .cover:hover::before {
        opacity: 0.8;
    }


         