
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 48px 24px;
    font-family: "Inter", "Arial", sans-serif;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 16px;
        flex-basis: 100% ;
        padding-top: 16px;
    }
}